.card-custom {
  width: 18rem;
}

.card-pic {
  width: 100%;
  height: 100%;
  max-width: 286px;
  max-height: 286px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .card-custom {
    width: 8rem;
  }

  .card-pic {
    width: 126px;
    height: 126px;
  }
}